body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    background-color:#f8f8f8;
    /*max-width: 640px;*/
}

.demos-title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.demos-sub-title {
    text-align: center;
    color: #888;
    font-size: 14px;
}

.demos-header {
    padding: 35px 0;
}

.demos-content-padded {
    padding: 15px;
}

.demos-second-title {
    text-align: center;
    font-size: 24px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

footer {
    text-align: center;
    font-size: 14px;
    padding: 20px;
}

    footer a {
        color: #999;
        text-decoration: none;
    }

.page__hd {
    padding: 40px;
}

.page__bd_spacing {
    padding: 0 15px;
}

.page__ft {
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}

.icon_sp {
    background: url(../images/icon_sp.png) no-repeat;
    background-size: 28px 28px;
}

.icon-income {
    background: url(../images/icon-income.png) no-repeat;
    background-size: 28px 28px;
}

.icon_project {
    background: url(../images/icon_project.png) no-repeat;
    background-size: 28px 28px;
}

.icon_asset {
    background: url(../images/icon_asset.png) no-repeat;
    background-size: 28px 28px;
}

.icon_history {
    background: url(../images/icon_history.png) no-repeat;
    background-size: 28px 28px;
}

.icon_xf {
    background: url(../images/icon_xf.png) no-repeat;
    background-size: 28px 28px;
}

.icon_recharge {
    background: url(../images/icon_recharge.png) no-repeat;
    background-size: 28px 28px;
}

.icon_pos {
    background: url(../images/icon_pos.png) no-repeat;
    background-size: 28px 28px;
}

.icon_refresh {
    background: url(../images/icon_refresh.png) no-repeat;
    background-size: 28px 28px;
}

.icon_dj {
    background: url(../images/icon_dj.jpg) no-repeat;
    background-size: 28px 28px;
}

.icon_zx {
    background: url(../images/icon_zx.jpg) no-repeat;
    background-size: 28px 28px;
}

.icon_xw {
    background: url(../images/icon_xw.jpg) no-repeat;
    background-size: 28px 28px;
}

.icon_dk1 {
    background: url(../images/icon_dk1.png) no-repeat;
    background-size: 28px 28px;
}

.icon_dk2 {
    background: url(../images/icon_dk2.png) no-repeat;
    background-size: 28px 28px;
}

.icon_sf {
    background: url(../images/icon_sf.jpg) no-repeat;
    background-size: 28px 28px;
}

.icon_wifi {
    background: url(../images/icon_wifi.jpg) no-repeat;
    background-size: 28px 28px;
}

.icon_password {
    background: url(../images/icon_password.png) no-repeat;
    background-size: 28px 28px;
}

.icon_password {
    background: url(../images/icon_password.png) no-repeat;
    background-size: 28px 28px;
}

.icon_password {
    background: url(../images/icon_password.png) no-repeat;
    background-size: 28px 28px;
}

.icon_fi_sum {
    background: url(../images/icon_fi_sum.png) no-repeat;
    background-size: 28px 28px;
}

.icon_bank {
    background: url(../images/icon_bank.png) no-repeat;
    background-size: 28px 28px;
}

.icon_house {
    background: url(../images/icon_house.png) no-repeat;
    background-size: 28px 28px;
}

.icon_dollar {
    background: url(../images/icon9.png) no-repeat;
    background-size: 28px 28px;
}

.paywayimg{
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}


.fix-bottom{
    position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
}
.fix-top{
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.fix-top-div {    right: 0;    position: fixed;    top: .77em;    width: 90%;    z-index: 100;    text-align: right;}


.key_grid {
    width:28%;
    height:50px;
    margin-left:2px;
    margin-right:2px;
}
.password_div_css{
    width: 240px;
    height: 40px;
    border:1px solid #cccccc;
    font-size:0px;
    border-radius: 3px;
}
.password_span_css{
    display: inline-block;
    border-right: 1px solid #cccccc;
    height: 100%;
    width: 40px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    vertical-align: top;
    position: relative;
    cursor:text;
}
.password_span_css_last{
border-right: 0px;
}
.circle:after{
  	content:"";
    width: 8px;
    height: 8px;
    background: #000;
    border-radius:50%;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-4px;
    margin-left:-4px;
}

.button_sp_area > a {
    margin: 0px 1px;
}

[v-cloak] {
    display: none !important;
}